a:hover{
    text-decoration: underline;
}

#navbar{
    background-color: #38B6FF;
    padding: 10px;
}

#navbar Nav.Link{
    color: white;
    margin: 0 10px;
}

.footer{
    background-color: #38B6FF;
    padding: 20px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    color: white;
}

.home{
    padding: 30px;
}

.home #moto{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #38B6FF;
    /*Add smooth dark shadow*/
    text-shadow: 2px 2px 5px #000000;
    
}

#form{
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#form #topic{
    font-size: 30px;
    width: 400px;
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
    border-radius: 20px;
    border: 3px solid #38B6FF;
    margin-bottom: 10px;
}

#form select{
    font-size: 30px;
    width: 400px;
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
    border-radius: 20px;
    border: 3px solid #38B6FF;
    margin-bottom: 10px;
}

#form #Gbtn{
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border: 3px solid #38B6FF;
    background-color: #38B6FF;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#form #Gbtn:hover{
    background-color: white;
    color: #38B6FF;
    cursor: pointer;
}

